.MapContainer {
    margin-top: 50px;
    /* border: 2px solid black; */
    width: 99vw;
    height: 70vh;

}

iframe {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    border: none;
}

#lastinput {
    height: 150px;
}



.formContainer {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(75, 75, 75);
    /* align-items: center; */
    width: 100%;
    gap: 4%;
    margin-top: 50px;
    margin-bottom: 100px;
    /* background-color: bisque; */
}

input {
    outline: none;
    height: 50px;
    padding: 5px 15px;
    border: 1px solid rgb(245, 243, 243);
}

.formContainer hr {
    border: 1px solid rgb(241, 240, 240);
}


/* 
#line {

    width: 70vw;
    border: 1px solid rgb(241, 240, 240);
} */

.left {
    /* border: 2px solid black; */
    width: 40%;
    /* background-color: aqua; */
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;

}



.right textarea {
    outline: none;
    border: 1px solid rgb(237, 236, 236);
}

.right {
    /* border: 2px solid black; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.right p,
input,
textarea,
button {
    margin-bottom: 20px;
}

.right button {
    background-color: black;
    color: white;
    font-size: medium;
    width: 92px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    height: 42px;
}

.heading {
    font-size: xx-large;
    font-weight: bold;
}